/*
 * Coders El Salvador 
 * Autores: Fernando Santamría - Christian Zayas
 * Versión: 1.0
 * Coders El Salvador - Todos los derechos reservados - 2014
 */

/*body */
body {
    background-color: #f2f2f2;
    font-weight: 300;
    font-size: 16px;
    font-color: white;
    color: white;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6, p {
    
    color: white;
}

p {
    background-color: transparent;
}

h4 {
	line-height: 25px;
}

a {
    color: white;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover {
	text-decoration: none;
	color: white;
}

.fa-4x {
	margin-top: -22px;
	color: white;
}

.footer {
	
    color: black;
    text-align: center;
}

.fa-2x {
    padding-top: 33px;
    padding-left: 5px;
    color: white;   
}

.fa {

}

#icono {
    background-color: transparent;
    right:20px;
    position: fixed;
}

/* Estilo hover */

.op1:hover {
     background: #3498db;
}

.op2:hover{
     background: #f1c40f;
}

.op3:hover{
     background: #e67e22;
}

.op4:hover{
     background: #95a5a6;
}

.op5:hover{
     background: #34495e;
}

.op6:hover{
     background: #2c3e50;
}



/*Fin de body */

/****************************/

/*header */

#header {
	background-color: #3498db;
	min-height: 600px;
	width: 100%;
}

#header h1 {
	color: white;
    text-align: center;
	font-size: 100px;
    margin-top: 200px;
	letter-spacing: 1px;
}

 .div-div{
    height: 20px;
    background: #2980b9;
}

/*Fin de header*/

/****************************/

/*quienes somos */

 #desarrolladores {
	background-color: #f1c40f;
	min-height: 600px;
	width: 100%;
}

#desarrolladores h1 {
	margin-top: 50px;
	color: white;
    text-align: center;
	font-size: 65px;
	letter-spacing: 1px;
}

/* div desarrolladores */

 .div-div-desarrolladores{
    height: 20px;
    background: #f39c12;
    }

/* Fin de Quienes Somos*/ 
/****************************/

/*Coders*/

  #coders {
	background-color: #e67e22;
	min-height: 375px;
	width: 100%;
}

#coders h1 {
	margin-top: 50px;
	color: white;
    text-align: center;
	font-size: 65px;
	letter-spacing: 1px;
}

/* div coders */

 .div-div-coders{
    height: 20px;
    background: #d35400; 
     }

/*Fin de Coders */
/****************************/


/*contacto*/

  #contacto {
	background-color: #95a5a6;
	min-height: 600px;
	width: 100%;
}

 #contacto h1 {
	margin-top: 80px;
	color: white;
    text-align: center;
	font-size: 70px;
	letter-spacing: 1px;
}

/* div contacto */

 .div-div-contacto{
    height: 20px;
    background: #7f8c8d;
 }

 /*Fin de contácto*/

 /*Data toogle de Sidebar */

#wrapper {
    padding-left: auto;
    padding-top: auto;
    padding-right: auto;
    padding-bottom: auto;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -160px;
    left: 0px;
    width: 160px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-content-wrapper {
    position: absolute;
    padding-left: 0;
    margin-left: 0;
    width: auto;
    height: auto;
}
#wrapper.active {
    padding-left: 160px;
}
#wrapper.active #sidebar-wrapper {
    left: 160px;
}

#page-content-wrapper {
  width: 100%;
}

/*Estilo inactivo */

#sidebar_menu li a, .sidebar-nav li a {
    display: block;
    float: left;
    text-decoration: none;
    width: 160px;
    background: #252525;
    border-top: 3px;
    border-bottom: 3px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

/* Espacio de block */

.sidebar-nav li {
  line-height: 60px;
  text-indent: 18px;
}



