body {
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  height: 250px;
  background: url("../img/header.jpg");

  background-attachment: relative;
  background-position: center center;
   -webkit-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    background-size: cover;
}

.foto-perfil {
  position: relative;
  border-radius: 100px;
  margin-top: -7.40em;
  margin-left: 2.5em;
  z-index: 2;

}

.datos-perfil {
  height: 96px;
  width: 100%;
  background-color: #f5f6f6;
  margin-top: -96px;
  display: inline-block;
}

.datos-perfil h1 {
  padding-top: 12px;
  padding-left: 250px;
  padding-right:220px;
  display: inline-block;
  font-size: 30px;
}

.datos-perfil h4 {
  padding-left: 25px;
  display: inline-block;
  text-align: center;
}

.btn-follow{
  margin-top: -20px;
  margin-left: 50px;

}

@media (max-width: 1180px) {
  .datos-perfil {
    height: 250px;
  }

  .datos-perfil h1 {
    padding-left: 100px;
  }
  .datos-perfil h4{
    padding-left: 2px;

  }

}